* {
    main-bg:            #4F2A7CB3;
    main-fg:            #E3CCFFE6;
    main-br:            #9D64D5E6;
    main-ex:            #5E49B6E6;
    select-bg:          #E7AAF080;
    select-fg:          #4C2952E6;
}
